<!doctype html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link href="https://fonts.googleapis.com/css?family=Roboto:300,400&display=swap" rel="stylesheet">

    <link rel="stylesheet" th:href="@{/icomoon/style.css}" type="text/css">

    <link rel="stylesheet" th:href="@{/css/owl.carousel.min.css}" type="text/css">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" th:href="@{/css/bootstrap.min.css}" type="text/css">
    
    <!-- Style -->
    <link rel="stylesheet" th:href="@{/css/style.css}" type="text/css">

    <title>Đăng nhập</title>
  </head>
  <body>
  <div class="content">
    <div class="container">
      <div class="row">
        <div class="col-md-6">
          <img th:src="@{/images/undraw_remotely_2j6y.svg}" alt="Image" class="img-fluid">
        </div>
        <div class="col-md-6 contents">
          <div class="row justify-content-center">
            <div class="col-md-8">
              <div class="mb-4">
              <h3>Đăng nhập</h3>
            </div>
              <div th:if="${error}" th:class="align-items-center">
                <h6 th:text="${error}" th:class="text-danger"></h6>
              </div>
            <form method="post" th:action="@{/api/users/home}" th:object="${userEntity}">
              <div class="form-group first mb-4">
                <input type="text" class="form-control" id="username" placeholder="Tài khoản" th:field="*{username}">

              </div>
              <div class="form-group last mb-4">
                <input type="password" class="form-control" id="password" placeholder="Mật khẩu" th:field="*{password}">
              </div>
              
              <div class="d-flex mb-5 align-items-center">
                <label class="control control--checkbox mb-0"><span class="caption">Ghi nhớ</span>
                  <input type="checkbox" checked="checked"/>
                  <div class="control__indicator"></div>
                </label>
<!--                <span class="ml-auto"><a href="#" class="forgot-pass">Quên mật khẩu</a></span>-->
              </div>
              <input type="submit" value="Đăng nhập" class="btn btn-block btn-primary mb-2" >
             <a th:href="@{/api/users/register}" th:class="text-decoration-none"><input type="button" value="Đăng ký" class="btn btn-block btn-primary" ></a>
            </form>
            </div>
          </div>
          
        </div>
        
      </div>
    </div>
  </div>
  <script th:src="@{/images/jquery-3.3.1.min.js}"></script>
  <script th:src="@{/images/popper.min.js}" ></script>
  <script th:src="@{/images/bootstrap.min.js}"></script>
  <script th:src="@{/images/main.js}"></script>
  </body>
</html>